{% extends "base.html" %}

<!-- Sidebars -->
{% block site_nav %}
    {% set disable_toc_integrate_paths = config.extra.disable_toc_integrate_paths | default([]) %}
    {% set ns = namespace(disable_toc_integrate=false) %}  {# Namespace variable #}

    {% if page and page.meta and page.meta.disable_toc_integrate %}
        {% set ns.disable_toc_integrate = true %}
    {% endif %}

    {% if page and page.url %}

        {% for prefix in disable_toc_integrate_paths %}

            {% if page.url.startswith(prefix) %}
                {% set ns.disable_toc_integrate = true %}  {# Modify namespace variable #}
            {% endif %}

        {% endfor %}
    {% endif %}

    {% set disable_toc_integrate = ns.disable_toc_integrate %}


    <!-- Navigation -->
    {% if nav %}
        {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--primary"
            data-md-component="sidebar"
            data-md-type="navigation"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
            </div>
            </div>
        </div>
    {% endif %}

    <!-- Table of contents -->
    {% if "toc.integrate" not in features or disable_toc_integrate %}
        {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "toc" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/toc.html" %}
            </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
